<h1>Reviews for <em><%= @restaurant.name %>:</em></h1>
<% @restaurant.reviews.each do |review| %>
<p><strong><%=  review.rating %></strong></p>
<p><%=  review.content %></p>
<% end %>

<%= link_to 'Add a Review', new_restaurant_review_path(@restaurant.id) %>
